# Created by .ignore support plugin (hsz.mobi)
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/zhuguoguo-pwa.iml
.lavas/
node_modules/
package-lock.json
