@import '~normalize.css';
@import '../css/iconfont.css';

html, body
    height 100%
    padding 0
    margin 0
    font-size 14px
    overflow hidden

    a
        display block
        text-decoration none
